<a href="https://colab.research.google.com/github/HANIBA2752/ENGCE174/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#List comprehension
squares = [x**2 for x in range(10)]

#Dictionary comprehension
square_dict = {x: x**2 for x in range(5)}

#Set comprehension
even_squares = {x**2 for x in range(10) if x % 2 == 0}

In [5]:
square = lambda x: x**2
print(square(5))  #Output: 25

25

In [6]:
def fibonacci():
    a, b = 0, 1
    while True:
        yield a
        a,b = b, a + b

fib = fibonacci()
print(next(fib))  #Output: 0
print(next(fib))  #Output: 1

0
1

In [10]:
# List initialization
number = [1, 2, 3, 4, 5]

#Accessing elements
print("First element:", number[0])  # Output: 1
print("Last element:", number[-1])  # Output: 5

#Slicing
print("Sliced elements:", number[2:4])  # Output: [3, 4]

# Appending anf extending
number.append(6)
print("After append:", number)  # Output: [1, 2, 3, 4, 5, 6]

#Removeing elements
number.remove(3)
print("After removal:", number) # Output: [1, 2, 3, 4, 5, 6]

First element: 1
Last element: 5
Sliced elements: [3, 4]
After append: [1, 2, 3, 4, 5, 6]
After removal: [1, 2, 4, 5, 6]

In [11]:
# List comprehension to create a list of squares of even numbers
even_numbers = [x for x in range(10) if x % 2 == 0]
squares = [num**2 for num in even_numbers]
print("Squares of even numbers:", squares)  #Output: [0, 4, 16, 36, 64]

Squares of even numbers: [0, 4, 16, 36, 64]

In [12]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
city = ["New York", "Los Angeles", "Chicago"]

for name, age,city in zip(names, ages, city):
    print(f"{name} is {age} years old and lives in {city}")

Alice is 25 years old and lives in New York
Bob is 30 years old and lives in Los Angeles
Charlie is 35 years old and lives in Chicago

In [13]:
# Tuple initialization
coordinates = (3, 5)

x, y = coordinates
print("x-coordinate:", x) # Output: 3
print("y-coordinate:", y) # Output: 5

location = {(3, 5): "Home", (10, 20): "Office"}
print("Location at (3, 5):", location[(3, 5)])  # Output: Home

x-coordinate: 3
y-coordinate: 5
Location at (3, 5): Home

In [15]:
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])

p1 = Point(3, 5)
p2 = Point(-1, 2)

print("Coordinates of p1:", p1.x, p1.y)

Coordinates of p1: 3 5

In [16]:
coordinates = (3, 5)

In [17]:
# Dictionary initialization
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}

print("Name:", person['name'])

person['age'] = 31
print("Updated age:", person['age'])

for key, value in person.items():
    print(f"{key}: {value}")

Name: Alice
Updated age: 31
name: Alice
age: 31
city: New York

In [20]:
# Dictionary comprehension to create a dictionary of squares
number = [1, 2, 3, 4, 5]
square_dict = {num: num**2 for num in number}
print("Dictionary of squares:", square_dict)

Dictionary of squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
person = {'name': 'Alice', 'age':30}

# Using get() method to handle missing keys
city = person.get('city', 'Unknow')
print("City;", city)

City; Unknow

In [28]:
#Dictionary of lists: Mapping cities to their temperatures
cities = {
    'New York': [32, 25, 30, 28, 35],
    'Los Angeles': [75, 68, 72, 70, 80],
    'Chicago': [20, 18, 22, 25, 15]
}

averages = {city: sum(temp) / len(temp) for city, temp in cities.items()}
print("Average temperatures:", averages)

Average temperatures: {'New York': 30.0, 'Los Angeles': 73.0, 'Chicago': 20.0}